default alpine
timeout 20
prompt 1

label alpine
  menu label Alpine Linux NTFS Installer
  kernel /boot/vmlinuz
  append initrd=/boot/initramfs.cpio.gz alpine_dev=cdrom:iso9660 modules=loop,squashfs,ntfs-3g quiet
